{% import "macros/subtitle_line.html" as subtitle_line %}

{% macro page(page) %}
<a href="{{ page.permalink | safe }}" class="card-link">
    <div class="card">
        <h2 class="title-line">{{ page.title }}</h2>
        <div class="subtitle-line">
            {{ subtitle_line::create(page=page) }}
        </div>
    </div>
</a>
{% endmacro page_card %}

{% macro taxonomy_term(term) %}
<a href="{{ term.permalink | safe }}" class="card-link">
    <div class="card">
        <h2 class="title-line">{{ term.name }}</h2>
        {% set num_pages = term.pages | length %}
        <div class="subtitle-line">{{ num_pages }} page{{ num_pages | pluralize }}</div>
    </div>
</a>
{% endmacro term %}